<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Voxelworld-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Voxelworld.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>glfw.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>voxelworld-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CVoxelworld</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Voxelworld</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Voxelworld_CVoxelworld</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>Voxelworld_Voxelworld</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>curl</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>glew</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>glfw</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>lodepng</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>noise</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>tinycthread</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>voxelworld</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
